<configuration scan="true" scanPeriod=" 5 seconds">
	<jmxConfigurator />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{requestURIWithQueryString}] %-5level %logger{56} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="WEBX-ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
        <file>../logs/manager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>../logs/%d{yyyy-MM-dd}/manager-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
		  <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- or whenever the file size reaches 100MB -->
            <maxFileSize>30MB</maxFileSize>
          </timeBasedFileNamingAndTriggeringPolicy>
          <!-- keep 180 days' worth of history -->
          <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{requestURIWithQueryString}] %-5level %logger{56} - %msg%n</pattern>
        </encoder>
	</appender>
	
	<appender name="COMMUNICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
        <file>../logs/communication.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>../logs/%d{yyyy-MM-dd}/communication-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
		  <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- or whenever the file size reaches 100MB -->
            <maxFileSize>30MB</maxFileSize>
          </timeBasedFileNamingAndTriggeringPolicy>
          <!-- keep 180 days' worth of history -->
          <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{56} - %msg%n</pattern>
        </encoder>
	</appender>
	
	<appender name="ALARM" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
        <file>../logs/alarm.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>../logs/%d{yyyy-MM-dd}/alarm-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
		  <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- or whenever the file size reaches 100MB -->
            <maxFileSize>30MB</maxFileSize>
          </timeBasedFileNamingAndTriggeringPolicy>
          <!-- keep 180 days' worth of history -->
          <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{56} - %msg%n</pattern>
        </encoder>
	</appender>
	<appender name="monitorInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
        <file>../logs/monitor_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>../logs/%d{yyyy-MM-dd}/monitor_info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
		  <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- or whenever the file size reaches 100MB -->
            <maxFileSize>30MB</maxFileSize>
          </timeBasedFileNamingAndTriggeringPolicy>
          <!-- keep 180 days' worth of history -->
          <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{56} - %msg%n</pattern>
        </encoder>
	</appender>
	<appender name="monitorTrigger" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
        <file>../logs/monitor_trigger.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>../logs/%d{yyyy-MM-dd}/monitor_trigger-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
		  <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- or whenever the file size reaches 100MB -->
            <maxFileSize>30MB</maxFileSize>
          </timeBasedFileNamingAndTriggeringPolicy>
          <!-- keep 180 days' worth of history -->
          <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{56} - %msg%n</pattern>
        </encoder>
	</appender>
	<appender name="position" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
        <file>../logs/position.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>../logs/%d{yyyy-MM-dd}/position-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
		  <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- or whenever the file size reaches 100MB -->
            <maxFileSize>30MB</maxFileSize>
          </timeBasedFileNamingAndTriggeringPolicy>
          <!-- keep 180 days' worth of history -->
          <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{56} - %msg%n</pattern>
        </encoder>
	</appender>

	<logger name="com.alibaba.otter.shared.communication.core" additivity="false">  
        <level value="info" />  
        <appender-ref ref="COMMUNICATION" />
    </logger>
	<logger name="com.alibaba.otter.manager.biz.common.alarm" additivity="false">  
        <level value="info" />  
        <appender-ref ref="ALARM" />
    </logger>
    <logger name="monitorInfo" additivity="false">  
        <level value="info" />  
        <appender-ref ref="monitorInfo" />
    </logger>
    <logger name="monitorTrigger" additivity="false">  
        <level value="error" />  
        <appender-ref ref="monitorTrigger" />
    </logger>
	<logger name="com.alibaba.otter.manager.web.home.module.action.PositionAction" additivity="false">  
        <level value="info" />  
        <appender-ref ref="position" />
    </logger>
    <logger name="com.alibaba.otter.manager.deployer" additivity="false">  
        <level value="info" />  
        <appender-ref ref="WEBX-ROOT" />
    </logger>
    
	<root level="WARN">
		<appender-ref ref="WEBX-ROOT" />
	</root>
</configuration>