$control.setTemplate("home:navigation.vm")
<script language="javascript">
<!--
	changeNav("sync");
//-->
function changeKeyword(id, name, local) {
	if(local == 'source'){
    	if( document.getElementById("sourceDataMediaId") && document.getElementById("sourceDataMediaName")){
    		document.getElementById('sourceDataMediaId').value = id;
        	document.getElementById('sourceDataMediaName').value = name;
    	}
	}else{
		if( document.getElementById("targetDataMediaId") && document.getElementById("targetDataMediaName")){
    		document.getElementById('targetDataMediaId').value = id;
        	document.getElementById('targetDataMediaName').value = name;
    	}
	}
}
</script>
#macro (addDataMediaPairMessage $field)
    #if (!$field.valid) $field.message #end
#end	

<div class="main">
  <div class="title"> 
    <h2>添加映射关系</h2>
  </div> <div class="crumbs"><a href="channelList.htm?channelId=$channelId">Channel管理</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="pipelineList.htm?channelId=$channelId">Pipeline管理</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="dataMediaPairList.htm?pipelineId=$pipelineId">映射关系管理</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="addDataMediaPair.htm?pipelineId=$pipelineId">添加映射关系</a> </div> 

 <form name="addPairForm" method="post" enctype="multipart/form-data">
	$csrfToken.hiddenField
	<input type="hidden" name="action" value="data_media_pair_action"/>
	<input type="hidden" name="event_submit_do_add" value="1" />
 <div class="setting_box">
	#set ($dataMediaPairGroup = $form.dataMediaPairInfo.defaultInstance)
	
	<input type="hidden" name="$dataMediaPairGroup.pipelineId.key" value="$pipelineId"/>
	<input type="hidden" name="pipelineId" value="$pipelineId"/>
	<input type="hidden" name="channelId" value="$channelId"/>
    <table cellpadding="0" cellspacing="0" class="setting setting_otter">
		<span class="red">#addDataMediaPairMessage ($dataMediaPairGroup.formDataMediaPairError)</span>
	  <tr> 
        <th>源数据表：</th>
        <td>
			<input id="sourceDataMediaName" type="text" name="$dataMediaPairGroup.sourceDataMediaName.key" value="$!dataMediaPairGroup.sourceDataMediaName.value" class="setting_input" readonly />
			<input id="sourceDataMediaId" name="$dataMediaPairGroup.sourceDataMediaId.key" value="$!dataMediaPairGroup.sourceDataMediaId.value" type="hidden" class="setting_input"  />
			<input type="button" value="查找数据表" onclick="window.open('selectDataMedia.htm?local=source', 'selectSourceDataMedia')"><span class="red">*</span>
			<br />
			<span class="red">#addDataMediaPairMessage ($dataMediaPairGroup.sourceDataMediaId)</span>
		</td>
      </tr>
	  <tr> 
        <th>目标数据表：</th>
        <td>
			<input id="targetDataMediaName" type="text" name="$dataMediaPairGroup.targetDataMediaName.key" value="$!dataMediaPairGroup.targetDataMediaName.value" class="setting_input" readonly />
			<input id="targetDataMediaId" name="$dataMediaPairGroup.targetDataMediaId.key" value="$!dataMediaPairGroup.targetDataMediaId.value" type="hidden" class="setting_input"  />
			<input type="button" value="查找数据表" onclick="window.open('selectDataMedia.htm?local=target', 'selectTargerDataMedia')"><span class="red">*</span>
			<br />
			<span class="red">#addDataMediaPairMessage ($dataMediaPairGroup.targetDataMediaId)</span>
		</td>
      </tr>
      <tr>
        <th>权重:</th>
        <td>
          <input type="text" name="$dataMediaPairGroup.pushWeight.key" value="5" id="textfield5" /><span class="red">*</span>
		  <br />
		  <span class="red">#addDataMediaPairMessage ($dataMediaPairGroup.pushWeight)</span>
        </td>
      </tr>
	  <tr>
        <th>视图模式:</th>
        <td>
		  <input type="radio" name="$dataMediaPairGroup.columnPairMode.key" value="INCLUDE" id="RadioGroup2_0" checked="checked" class="radio"/>include
          <input type="radio" name="$dataMediaPairGroup.columnPairMode.key" value="EXCLUDE" id="RadioGroup2_1" class="radio"/>exclude
		  <br />
		  <span class="red">#addDataMediaPairMessage ($dataMediaPairGroup.columnPairMode)</span>
        </td>
      </tr>
      <tr>
        <th>EventProcessor类型:</th>
        <td>
			<select name="$dataMediaPairGroup.filterType.key" id="select">
				<option value="CLAZZ" selected="selected">CLAZZ</option>
				<option value="SOURCE">SOURCE</option>
            </select><span class="red">*</span>
        </td>
      </tr>
	  <tr>
        <th>EventProcessor文本:</th>
            <td><textarea cols="90" rows="10" name="$dataMediaPairGroup.filterText.key">$!dataMediaPairGroup.filterText.value</textarea></td>
      </tr>
	  <tr>
        <th>FileResolver类型:</th>
		<td>
        <select name="$dataMediaPairGroup.resolverType.key" id="select">
				<option value="CLAZZ" selected="selected">CLAZZ</option>
				<option value="SOURCE">SOURCE</option>
            </select><span class="red">*</span>
		</td>	
      </tr>
      <tr>
        <th>FileResolver文本:</th>
            <td><textarea cols="90" rows="10" name="$dataMediaPairGroup.resolverText.key">$!dataMediaPairGroup.resolverText.value</textarea></td>
      </tr>
    </table>
 </div>
  <input type="submit" name="submitKey" value="保存" class="button"></input>
  <input type="submit" name="submitKey" value="下一步" class="button"></input>
 </form>
</div>

