$control.setTemplate("home:navigation.vm")
<script language="javascript">
<!--
	changeNav("node");
//-->
</script>
#macro (addNodeMessage $field)
    #if (!$field.valid) $field.message #end
#end	

<div class="main">
  <div class="title"> 
    <h2>添加机器</h2>
  </div>
 <div class="crumbs"><a href="nodeList.htm">机器管理</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="addNode.htm">添加机器</a></div>
 
 
<form name="addNodeForm" method="post" enctype="multipart/form-data">
	$csrfToken.hiddenField
	<input type="hidden" name="action" value="node_action"/>
	<input type="hidden" name="event_submit_do_add" value="1" />
 <div class="setting_box">
 
   #set ($nodeGroup = $form.nodeInfo.defaultInstance)
   #set ($nodeParameterGroup = $form.nodeParameterInfo.defaultInstance)
   
    <table cellpadding="0" cellspacing="0" class="setting_otter">
		<span class="red">#addNodeMessage ($nodeGroup.formNodeError)</span>
      <tr> 
        <th width="300">机器名称：</th>
        <td width="329">
            <input type="text" name="$nodeGroup.name.key" value="$!nodeGroup.name.value" class="setting_input"/><span class="red">*</span>
			<br />
			<span class="red">#addNodeMessage ($nodeGroup.name)</span>
		</td>
      </tr>
      <tr> 
        <th>机器IP：</th>
        <td>
			<input type="text" name="$nodeGroup.ip.key" value="$!nodeGroup.ip.value" class="setting_input"/><span class="red">*</span>
			<br />
			<span class="red">#addNodeMessage ($nodeGroup.ip)</span>
		</td>
      </tr>
      <tr> 
        <th>机器端口：</th>
        <td>
			<input type="text" name="$nodeGroup.port.key" value="$!nodeGroup.port.value" class="setting_input"/><span class="red">*</span>
			<br />
			<span class="red">#addNodeMessage ($nodeGroup.port)</span>
		</td>
      </tr>
	  #**
	  <tr> 
        <th>ZooKeeper集群：</th>
        <td>
			<textarea class="service" name="$nodeParameterGroup.zkClusters.key" cols="45" rows="5" >$!nodeParameterGroup.zkClusters.value</textarea><span class="red">*</span>
			  <br />
			  <span>格式如 10.20.10.20:8080;（必须以分号结束，可添多个）</span>
			  <br />
			<span class="red">#addNodeMessage ($nodeParameterGroup.zkClusters)</span>
		</td>
      </tr>
	  *#
	  <tr> 
        <th>下载端口：</th>
        <td>
			<input type="text" name="$nodeParameterGroup.downloadPort.key" value="$!nodeParameterGroup.downloadPort.value" class="setting_input"/><span class="red">*</span>
			<br />
			<span class="red">#addNodeMessage ($nodeParameterGroup.downloadPort)</span>
		</td>
      </tr>
	  <tr> 
        <th>外部IP：</th>
        <td>
			<input type="text" name="$nodeParameterGroup.externalIp.key" value="$!nodeParameterGroup.externalIp.value" class="setting_input" />
			<br />
			<span class="red">#addNodeMessage ($nodeParameterGroup.externalIp)</span>
		</td>
      </tr>
	  <tr> 
        <th>zookeeper集群：</th>
        <td>
            <select id="zkCluster" name="$nodeParameterGroup.autoKeeperClusterId.key">
			#foreach($zkCluster in $zkClusters)
            <option value="$zkCluster.id" #if($velocityCount == 0)selected#end>$zkCluster.clusterName</option>
			#end
			</select><span class="red">*</span>
        </td>
      </tr>
      <tr>
       <th>描述：</th>
       <td>
    		<textarea cols="45" rows="5" name="$nodeGroup.description.key">$!nodeGroup.description.value</textarea><span class="red">*</span>
    		<br />
    		<span class="red">#addNodeMessage ($nodeGroup.description)</span>
	   </td>
      </tr>
    </table>
 </div>
   <div class="btn"><a href="javascript:document.addNodeForm.submit();">保存</a></div> 
  
  </form>
</div>