$rundata.setLayoutEnabled(false)
#macro (loginMessage $field)
    #if (!$field.valid) $field.message #end
#end
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Refresh" content="1;URL=channelList.htm" /> 
<title>Otter Manager</title>

</head>
<body >
</body>
</html>
