$control.setTemplate("home:navigation.vm")
#set($user = $rundata.request.session.getAttribute("managerUser"))
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
<script language="javascript">
	changeNav("node");
	
	 function showdiv(targetid,objN){
   
      var target=document.getElementById(targetid);
      var clicktext=document.getElementById(objN)

            if (target.style.display=="block"){
                target.style.display="none";
                clicktext.innerText="点击查看详细信息";
  

            } else {
                target.style.display="block";
                clicktext.innerText='关闭详细信息信息';
            }
   
	}
	function NeatDialog(sHTML, sTitle, bCancel)
    {
      window.neatDialog = null;
      this.elt = null;
      if (document.createElement  &&  document.getElementById)
      {
        var dg = document.createElement("div");
        dg.className = "neat-dialog";
        if (sTitle)
          sHTML = '<div class="neat-dialog-title">'+sTitle+
                  ((bCancel)?
                    '<img src="x.gif" alt="Cancel" class="nd-cancel" />':'')+
                    '</div>\n' + sHTML;
        dg.innerHTML = sHTML;
        var dbg = document.createElement("div");
        dbg.id = "nd-bdg";
        dbg.className = "neat-dialog-bg";
        var dgc = document.createElement("div");
        dgc.className = "neat-dialog-cont";
        dgc.appendChild(dbg);
        dgc.appendChild(dg);
        if (document.body.offsetLeft > 0)
        dgc.style.marginLeft = document.body.offsetLeft + "px";
        document.body.appendChild(dgc);
        if (bCancel) document.getElementById("nd-cancel").onclick = function()
        {
          window.neatDialog.close();
        };
        this.elt = dgc;
        window.neatDialog = this;
      }
    }
    NeatDialog.prototype.close = function()
    {
      if (this.elt)
      {
        this.elt.style.display = "none";
        this.elt.parentNode.removeChild(this.elt);
      }
      window.neatDialog = null;
    }

	function openDialog( content )
  	{
   		var sHTML = '<p><button onclick="window.neatDialog.close()">关闭</button></p>' + content + '<p><button onclick="window.neatDialog.close()">关闭</button></p>';
        new NeatDialog(sHTML, "<b>详情</b>", false);
      
    }
</script>
<style type="text/css">
<!--

a { text-decoration: none; }

.watchShow { cursor: hand; cursor:pointer;}
.watchContent { margin-top: 10px; margin-bottom: 10px; width: 200px; border: 1px solid #CCC; background: #F1F1F1; padding: 15px; display: none; }
.ephemeralShow { cursor: hand; cursor:pointer;}
.ephemeralContent { margin-top: 10px; margin-bottom: 10px; width: 200px; border: 1px solid #CCC; background: #F1F1F1; padding: 15px; display: none; }
-->
</style>


<!--页面主体-->
<div class="main">
   
  <div class="title"> 
    <h2>Zookeeper Client连接信息</h2>
  </div>
   <!--分页表单-->
   <form id="pageform" name="pageform" action="$homeModule.setTarget('nodeList.vm')" method="post">
    	<input type="hidden" id="pageIndex" name="pageIndex" value=""/>
		<input type="hidden" id="searchKey" name="searchKey" value="$!searchKey"/>
   </form>
   
   <!--列表-->
     
  <table border="0" cellspacing="0" cellpadding="0" class="list changecolor_w">
    <tr> 
      <th width="3%">序号</th>
      <th width="10%">clientAdress</th>
	  <th width="12%">sessionId</th>
	  <th width="20%">watchStats</th>
	  <th width="20%">ephemeralStats</th>
	  <th width="6%">MaxLat</th>
	  <th width="6%">AvgLat</th>
	  <th width="6%">MinLat</th>
	  <th width="6%">Queued</th>
	  <th width="6%">Recved</th>
	  <th>Sent</th>
	  
    </tr>
	#set($num = 0)
	#foreach($autoKeeperConnectionStat in $autoKeeperConnectionStats)
		#set($num = $num+1)
        <tr> 
          <td>$num</td>
		  #set($content=$!autoKeeperConnectionStat.getHtmlOriginalContent())
		  <td>$!autoKeeperConnectionStat.clientAddress <img style="cursor:pointer;" src="/images/seeDetail.png" onclick="openDialog('$!content')"</img></td>
		  <td>$!autoKeeperConnectionStat.sessionId</td>
		  <td>
			<a id="watchShow-$velocityCount" onClick="showdiv('watchContent-$velocityCount','watchShow-$velocityCount')">点击查看详细信息</a>
			<div id="watchContent-$velocityCount" class="watchContent">
				#foreach($autoKeeperWatchStat in $!autoKeeperConnectionStat.watchStats)
					#foreach($path in $!autoKeeperWatchStat.paths)
						$path <br />
					#end
				#end
			</div>
		  </td>
		  <td>
			<a id="ephemeralShow-$velocityCount" onClick="showdiv('ephemeralContent-$velocityCount','ephemeralShow-$velocityCount')">点击查看详细信息</a>
			<div id="ephemeralContent-$velocityCount" class="ephemeralContent">
				#foreach($autoKeeperWatchStat in $!autoKeeperConnectionStat.ephemeralStats)
					#foreach($path in $!autoKeeperWatchStat.paths)
						$path <br />
					#end
				#end
			</div>
		  </td>
		  <td>$!autoKeeperConnectionStat.maxLatency</td>
    	  <td>$!autoKeeperConnectionStat.avgLatency</td>
    	  <td>$!autoKeeperConnectionStat.minLatency</td>
    	  <td>$!autoKeeperConnectionStat.queued</td>
    	  <td>$!autoKeeperConnectionStat.recved</td>
    	  <td>$!autoKeeperConnectionStat.sent</td>
        </tr>
	#end
    
  </table>
  <!--常规按钮-->
</div>
