$control.setTemplate("home:navigation.vm")
#set($user = $rundata.request.session.getAttribute("managerUser"))
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
<script language="javascript">
        changeNav("datamedia");
</script>



<!--页面主体-->
<div class="main">
   
  <div class="title"> 
    <h2>数据源配置</h2>
  </div>
   <div class="crumbs"><a href="dataSourceList.htm">数据源配置</a></div> 
   <!--分页表单-->
   <form id="pageform" name="pageform" action="$homeModule.setTarget('dataSourceList.vm')" method="post">
    	<input type="hidden" id="pageIndex" name="pageIndex" value=""/>
		<input type="hidden" id="searchKey" name="searchKey" value="$!searchKey"/>
   </form>
    <!--DataMedia搜索-->
   <div class="search_o"> 
		<form name="search_data_source" action="dataSourceList.htm" method="post">
			##$csrfToken.hiddenField
			<div class="search_input">
				<input name="searchKey" type="text" value="请输入关键字(目前支持DataSource的ID、名字搜索)"  onfocus="if(this.value == '请输入关键字(目前支持DataSource的ID、名字搜索)') {this.value='';}" onblur="if(this.value == '') {this.value = '请输入关键字(目前支持DataSource的ID、名字搜索)';}" />
			</div>
			<div class="search_btn"><a href="javascript:document.search_data_source.submit();"><img src="images/search_btn.png" width="39" height="31" /></a></div>
        </form>
   </div>
   
   <!--列表-->
     
  <table border="0" cellspacing="0" cellpadding="0" class="list changecolor_w">
    <tr> 
      <th>序号</th>
      <th>数据源名字</th>
      <th>类型</th>
	  <th>编码</th>
      <th>URL</th>
	  <th>操作</th>
    </tr>
	
	#foreach ($source in $sources)
    <tr> 
      <td width="5%">$!source.id</td>
      <td width="12%">$!source.name</td>
      <td>$!source.type</td>
	  <td>$!source.encode</td>
      <td>$!source.url</td>
	  
	  <td>
		#set ($dataSourceInfoURL = $homeModule.setTarget("dataSourceInfo.vm").addQueryData("dataMediaSourceId", $source.id))
		<a href="$dataSourceInfoURL"><img src="images/ico_edit.png" width="13" height="13" /><span class="ico_font">查看</span></a>
		#if($user.authorizeType.isAdmin())
    		#set ($editURL = $homeModule.setTarget("editDataSource.vm").addQueryData("dataMediaSourceId", $source.id).addQueryData("pageIndex", $!paginator.page).addQueryData("searchKey", $!searchKey))
    		<span class="ico_line">|</span><a href="$editURL"><img src="images/ico_edit.png" alt=" " width="13" height="13" /><span class="ico_font">编辑</span></a>
    		
			#if($!source.isUsed())
				<span class="ico_line">|</span><img src="images/ico_del.png" width="9" height="9" /><span class="ico_font" title="已被数据表#foreach($dataMedia in $source.dataMedias)[$dataMedia.id]#end使用，清空关联才能删除">删除</span>
			#else
				#set ($removeURL = $homeModule.setAction("dataMediaSourceAction").addQueryData("dataMediaSourceId", $source.id).addQueryData("pageIndex", $!paginator.page).addQueryData("searchKey", $!searchKey).addQueryData("eventSubmitDoDelete", "true"))
				<span class="ico_line">|</span><a href="javascript:if(confirm('确实要删除吗?'))location='$removeURL'" class="link del"><img src="images/ico_del.png" width="9" height="9" /><span class="ico_font">删除</span></a>
			#end
			
		#end
	  </td>
	  
    </tr>
    #end
  </table>
  <!--常规按钮-->
      #if($user.authorizeType.isAdmin())
		<div class="btn"><a href="addDataSource.htm">添加</a></div>
	  #end
  
     
     <!--分页-->
     <div class="page">共$paginator.items条数据&nbsp;&nbsp;第$paginator.page页/共$paginator.pages页&nbsp;&nbsp; 
       
	   #if($paginator.page == 1)
            <font color="999999">首页</font>
	   #else
			<a href="#" class="prev" onclick="pageNavigation(this,1)">首页</a>
	   #end
	   
	   #if($paginator.page > 1)
			#set($pre_page = $paginator.page - 1)
				<a href="#" class="prev" onclick="pageNavigation(this,$pre_page)">上一页</a>
	   #else
            <font color="999999">上一页</font>
	   #end
	   ##分页下标
	   #set($counts_keys = $paginator.getSlider(7))
	   #foreach( $thisPage in $counts_keys)
			#if( $thisPage == $paginator.page)
                <b>$thisPage</b>
			#else
				#if($thisPage != 0)
					<a href="#" class="num" onclick="pageNavigation(this,$thisPage)">$thisPage</a> 
				#end
			#end
	   #end
	   
	   #if($paginator.page < $paginator.pages)
			#set($next_page = $paginator.page + 1)
				<a href="#" class="prev" onclick="pageNavigation(this,$next_page)">下一页</a>
	   #else
            <font color="999999">下一页</font>
	   #end
	   
	   #if($paginator.page == $paginator.pages)
            <font color="999999">末页</font>
	   #else
			<a href="#" class="prev" onclick="pageNavigation(this,$paginator.pages)">末页</a>
	   #end
     </div>         
</div>
