$control.setTemplate("home:navigation.vm")
#set($user = $rundata.request.session.getAttribute("managerUser"))
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
<script language="javascript">
	changeNav("manual");
</script>

<!--页面主体-->
<div class="main">

  <div class="title">
    <h2>功能特性介绍</h2>
  </div>
   <div class="crumbs"></div>
    <div class="contentbox_tab changecolor_w">
   <p>
        pdf版： <span class="nobr"><a href="http://docs.alibaba-inc.com/download/attachments/100079723/otter4%E4%BA%A7%E5%93%81%E4%BB%8B%E7%BB%8D.pdf?version=1&amp;modificationDate=1358322135000">otter4产品介绍.pdf<sup><img class="rendericon" src="images/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"></sup></a></span><br>
        ppt版： <span class="nobr"><a href="http://docs.alibaba-inc.com/download/attachments/100079723/otter4%E4%BA%A7%E5%93%81%E4%BB%8B%E7%BB%8D.ppt?version=1&amp;modificationDate=1358322017000">otter4产品介绍.ppt<sup><img class="rendericon" src="images/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"></sup></a></span>
   </p>
   <br/>
   <p>google在线播放：(<font color="#FF0000">亲们，可能需要翻墙</font>)</p><br/>
   <iframe src="https://docs.google.com/presentation/d/11ysoASW4VK0m73WLe9dPXwEVhu9aGj74oWjNOkOVmDo/embed?start=false&loop=false&delayms=5000" frameborder="0" width="800" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
   </iframe>
   </div>
</div>