$control.setTemplate("home:navigation.vm")
#set($user = $rundata.request.session.getAttribute("managerUser"))
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
<script language="javascript">
	changeNav("manual");
</script>

<!--页面主体-->
<div class="main">

  <div class="title">
    <h2>管理系统使用介绍</h2>
  </div>
   <div class="crumbs"></div>
   <div class="contentbox_tab changecolor_w">
   <font color="#FF0000">外链: </font><a href="http://docs.alibaba-inc.com/pages/viewpage.action?pageId=100079723">点此文档链接</a>
   </div>
</div>
