$control.setTemplate("home:navigation.vm")
#set($user = $rundata.request.session.getAttribute("managerUser"))
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
<script language="javascript">
	changeNav("sync");
	function returnSelected(keywordId, keyword, local) {
		if(window.opener && !window.opener.closed){
			window.opener.changeKeyword(keywordId, keyword, local);
		}
		window.close();
	}
		
</script>

<!--页面主体-->
<div class="main">
   
  <div class="title"> 
    <h2>数据表管理</h2>
  </div>
   <div class="crumbs"><a href="dataMediaList.htm">数据表管理</a> </div> 
   <!--分页表单-->
   <form id="pageform" name="pageform" action="$homeModule.setTarget('selectDataMedia.vm')" method="post">
    	<input type="hidden" id="pageIndex" name="pageIndex" value=""/>
		<input type="hidden" id="searchKey" name="searchKey" value="$!searchKey"/>
		<input type="hidden" name="local" value="$!local"/>
   </form>
   <!--DataMedia搜索-->
   <div class="search_o"> 
		<form name="search_data_media" action="selectDataMedia.htm" method="post">
			##$csrfToken.hiddenField
			<input type="hidden" name="local" value="$!local"/>
			<div class="search_input">
				<input name="searchKey" type="text" value="请输入关键字(目前支持DataMedia的ID、名字搜索)"  onfocus="if(this.value == '请输入关键字(目前支持DataMedia的ID、名字搜索)') {this.value='';}" onblur="if(this.value == '') {this.value = '请输入关键字(目前支持DataMedia的ID、名字搜索)';}" />
			</div>
			<div class="search_btn"><a href="javascript:document.search_data_media.submit();"><img src="images/search_btn.png" width="39" height="31" /></a></div>
        </form>
   </div>
   
   <!--列表-->
     
  <table border="0" cellspacing="0" cellpadding="0" class="list changecolor_w" >
    <tr> 
      <th>序号</th>
	  <th>Schema Name</th>
	  <th>Table Name</th>
	  <th>数据源</th>
	  <th>操作</th>
    </tr>
	#foreach ($dataMedia in $dataMedias)
	
    <tr> 
      <td width="10%">$!dataMedia.id</td>
	  <td width="20%">$!dataMedia.namespace</td>
      <td width="20%">$!dataMedia.name</td>
      <td>
		#set ($dataSourceInfoURL = $homeModule.setTarget("dataSourceInfo.vm").addQueryData("dataMediaSourceId", $!dataMedia.source.id))
		<a href="$dataSourceInfoURL">$!dataMedia.source.name</a>
	  </td>
	  <td>
		<input type="button" value="选择" onclick="javascript:returnSelected('$dataMedia.id','$dataMedia.name','$local')">
      </td>
	  
    </tr>
    #end
  </table>
     
  <!--常规按钮-->
     #if($user.authorizeType.isAdmin())
		<div class="btn"><a href="addDataMedia.htm" target="_blank">添加</a></div>
	 #end
	 
     <!--分页-->
     <div class="page">共$paginator.items条数据&nbsp;&nbsp;第$paginator.page页/共$paginator.pages页&nbsp;&nbsp; 
       
	   #if($paginator.page == 1)
            <font color="999999">首页</font>
	   #else
			<a href="#" class="prev" onclick="pageNavigation(this,1)">首页</a>
	   #end
	   
	   #if($paginator.page > 1)
			#set($pre_page = $paginator.page - 1)
				<a href="#" class="prev" onclick="pageNavigation(this,$pre_page)">上一页</a>
	   #else
            <font color="999999">上一页</font>
	   #end
	   ##分页下标
	   #set($counts_keys = $paginator.getSlider(7))
	   #foreach( $thisPage in $counts_keys)
			#if( $thisPage == $paginator.page)
                <b>$thisPage</b>
			#else
				#if($thisPage != 0)
					<a href="#" class="num" onclick="pageNavigation(this,$thisPage)">$thisPage</a> 
				#end
			#end
	   #end
	   
	   #if($paginator.page < $paginator.pages)
			#set($next_page = $paginator.page + 1)
				<a href="#" class="prev" onclick="pageNavigation(this,$next_page)">下一页</a>
	   #else
            <font color="999999">下一页</font>
	   #end
	   
	   #if($paginator.page == $paginator.pages)
            <font color="999999">末页</font>
	   #else
			<a href="#" class="prev" onclick="pageNavigation(this,$paginator.pages)">末页</a>
	   #end
     </div>     
</div>
